.App {
  text-align: center;
}

.home{
 background-image: url('../src/images/home.jpeg');
 background-position:center;
 background-size: cover;
 height: 95vh;
}

.home-h1 {
    background-color: rgb(224, 54, 54);
    color:white;
    border: 3px groove #262626;
}


.home-intro{
    background-color: #1F64B6;
    color: white;
    border: 5px groove #262626;
    font-size: 20px;
}
