.App {
  text-align: center;
}

.home{
 background-image: url('../src/images/home.jpeg');
 background-position:center;
 background-size:cover;
 height: 95vh;
}

.home-h1 {
    background-color: rgb(224, 54, 54);
    color:white;
    border: 3px groove #262626;
}


.home-intro{
    background-color: #1F64B6;
    color: white;
    border: 5px groove #262626;
    font-size: 20px;
}


.signup{
  background-image: url('../src/images/signup.jpeg');
 background-position:center;
 background-size:cover;
 height: 95vh;
}

.signup-h1{
  background-color: rgb(224, 54, 54);
  color:white;
  border: 3px groove rgb(177, 226, 78);
}

.signup-h2{

  background-color: rgb(224, 54, 54);
  color:white;
  border: 3px groove rgb(177, 226, 78);
}


.login{
  background-image: url('../src/images/login.jpeg');
  background-position:center;
  background-size:auto;
  height: 95vh;
}

.login-h2{
  background-color: rgb(224, 54, 54);
  color:white;
  border: 3px groove rgb(177, 226, 78);
}


.login-form{

  background-color: rgb(54, 224, 181);
  color:white;
  border: 3px groove rgb(177, 226, 78);
}

.profile{
  background-color: #1F64B6;
  background-position:center;
  background-size:auto;
  height: 95vh;
}

.profile-header {
  background-color: rgb(224, 54, 54);
  color:white;
  border: 3px groove black;
}

.profile-main {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}